APT::Periodic::Unattended-Upgrade "1";

{% if unattended_upgrades_update_package_lists is defined %}
APT::Periodic::Update-Package-Lists "{{ unattended_upgrades_update_package_lists }}";
{% endif %}

{% if unattended_upgrades_download_upgradeable_packages is defined %}
APT::Periodic::Download-Upgradeable-Packages "{{ unattended_upgrades_download_upgradeable_packages }}";
{% endif %}

{% if unattended_upgrades_autoclean_interval is defined %}
APT::Periodic::AutocleanInterval "{{ unattended_upgrades_autoclean_interval }}";
{% endif %}

{% if unattended_upgrades_clean_interval is defined %}
APT::Periodic::CleanInterval "{{ unattended_upgrades_clean_interval }}";
{% endif %}

{% if unattended_upgrades_verbose is defined %}
APT::Periodic::Verbose "{{ unattended_upgrades_verbose }}";
{% endif %}

{% if unattended_upgrades_random_sleep is defined %}
APT::Periodic::RandomSleep "{{ unattended_upgrades_random_sleep }}";
{% endif %}
